

  /* =Colors
  ----------------------------------------------- */
  :root {
    --midnight : rgb( 41,  41,  41);
    --snow     : rgb(254, 254, 254);
  }

  body {
    background: var(--snow);
    color: var(--midnight);
  }

  h1, h2, h3, h4, h5, h6, strong, em {

  }

  a {
    color: #0071bc;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  }

  a:visited {
    color: #4c2c92;
  }

  a:hover,
  a:active,
  a:focus {
    color: #205493;
  }

