

  /* =Colors
  ----------------------------------------------- */
  :root {
    --midnight : rgb( 41,  41,  41);
    --snow     : rgb(254, 254, 254);
  }

  body {
    background: var(--snow);
    color: var(--midnight);
  }

  h1, h2, h3, h4, h5, h6, strong, em {

  }

  a {
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  }

  a:hover,
  a:active,
  a:focus {
  }

