
/* =Event List
----------------------------------------------- */
.event-list,
.event-list li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.event-list {
  margin-top: 1.5em;
  grid-column: 2/-2;
  max-width: none;
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-bottom: 3em;
}
.event-list + .event-list {
  margin-top: -2.9em;
}
.event-list li {
  margin-top: 0.1em;
}
.event-list a > img {
  width: 100%;
  height: calc(100vw);
  height: calc(50vh - 3em);
  object-fit: cover;
}

.event-list a > svg {
  height: 20vmax;
  width: auto;
  color: var(--snow);
  align-self: center;
  justify-self: center;
}
.event-list a > svg,
.event-list a > svg path {
  fill: currentColor;
}

@media(min-width: 60em) {
  .event-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 6em;
    margin-left: 0;
    margin-right: 0;
  }
  .event-list + .event-list {
    margin-top: 1.5em;
  }

  .event-list li {
    margin-top: 0;
  }
  .event-list a > img {
    width: 100%;
    height: calc(50vh - 3em);
    object-fit: cover;
  }
  .event-list li:first-child:last-child a > img {
    height: calc(75vh - 3em);
  }
}
/*
@media(min-width: 60em) {
  .event-list {
    margin-left: -6.25vw;
    margin-right: -6.25vw;
  }
}
*/


/*
.event-list li {
  align-self: stretch;
  justify-self: stretch;
  display: grid;
}
*/


.event-list a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* background: var(--strawberry);
  background: black; */
  color: white;
  text-decoration: none;
}

.event-list a > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.event-list a > div {
  position: relative;
  z-index: 1;
  padding: 0.75em;
  background-color: white;
  color: black;
  background-color: var(--snow);
  color: var(--lime-darkest);
  align-self: end;
  justify-self: start;
  margin: 0.375em;
}
.event-list a > div > * {
  margin: 0;
}

.event-list a h3 {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
  font-style: normal;
  font-family: inherit;
  opacity: 0.75;
}
.event-list a h4 {
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  /*! color: var(--strawberry); */
  /* font-style: normal; */
  /*! font-weight: bold; */
}
.event-list a p {
  font-size: 0.75em;
}

