
/* =Event List
----------------------------------------------- */
.event-list,
.event-list li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.event-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

/*
.event-list li {
  align-self: stretch;
  justify-self: stretch;
  display: grid;
}
*/

.event-list a {
  display: grid;
  background: black;
  background: var(--pink);
  color: white;
  text-decoration: none;
}

.event-list a > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.event-list a > div {
  position: relative;
  z-index: 1;
  padding: 1.5em;
}
.event-list a > div > * {
  margin: 0;
}

.event-list a h3 {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
}
.event-list a h4 {
  color: var(--yellow);
  font-size: inherit;
}

.event-list a > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
