
/* =Event List
----------------------------------------------- */
.event-list,
.event-list li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.event-list {
  margin-top: 1.5em;
  grid-column: 1/-1;
  max-width: none;
}
.event-list li {
  margin-top: 1.5em;
}

@media(min-width: 40em) {
  .event-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
  }
  .event-list li {
    margin-top: 0;
  }
}


/*
.event-list li {
  align-self: stretch;
  justify-self: stretch;
  display: grid;
}
*/


.event-list a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: var(--pink);
  background: black;
  color: white;
  text-decoration: none;
}

.event-list a > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.event-list a > div {
  position: relative;
  z-index: 1;
  padding: 0.75em;
  background-color: white;
  color: black;
  background-color: var(--snow);
  color: var(--midnight);
  align-self: end;
  justify-self: start;
  margin: 0.75em;
}
.event-list a > div > * {
  margin: 0;
}

.event-list a h3 {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-style: normal;
}
.event-list a h4 {
  font-size: 1.25em;
  /*! color: var(--pink); */
  font-style: normal;
  /*! font-weight: bold; */
}
.event-list a p {
  font-size: 0.875em;
}

.event-list a > img {
  width: 100%;
  height: calc(66.6vh - 3em);
  object-fit: cover;
}
