

  /* =Fonts
  ----------------------------------------------- */
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-Regular.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-Italic.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-Medium.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500; /* @medium */
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-MediumItalic.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-MediumItalic.woff") format("woff");
    font-style: italic;
    font-weight: 500; /* @medium */
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-SemiBold.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600; /* @semibold */
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-SemiBoldItalic.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-SemiBoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 600; /* @semibold */
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-Bold.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-BoldItalic.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-Black.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900; /* @black */
  }
  @font-face{
    font-family:"Public Sans";
    src: url("/assets/fonts/public-sans/PublicSans-BlackItalic.woff2") format("woff2"),
         url("/assets/fonts/public-sans/PublicSans-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900; /* @black */
  }

