
/* =navigation
----------------------------------------------- */
main > nav,
main > nav li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
main > nav {
  display: flex;
  flex-wrap: wrap;
}
main > nav li {
  display: inline-block;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  flex-grow: 1;
}
main > nav a {
  display: block;
  text-align: center;
  padding: 0.725em 1.45em;
  background-color: rgb(90, 150, 55); /* @mediumgreen */
  background-color: rgb(125, 210, 242); /* @blue */
  background-color: rgb(140, 197, 65); /* @green */
  color: rgb(19, 127, 166); /* @darkblue */
  color: rgb(41, 96, 46); /* @darkgreen */
  color: white;
  text-decoration: none;
  border-radius: 0.25em;
  transition: background-color 0.2s, color 0.2s;
  font-weight: bold;
}
main > nav a[href]:hover,
main > nav a[href]:active,
main > nav a[href]:focus {
  background-color: rgb(235, 12, 128); /* @pink */
  background-color: rgb(19, 177, 216); /* @mediumblue */
  background-color: rgb(90, 150, 55); /* @mediumgreen */
  color: white;
  text-decoration: none;
}
