
/* =Special Notice
----------------------------------------------- */
.special-notice {
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  text-align: center;
  /* background-color: hsl(86, 53%, 15%);
  background-color: var(--strawberry);
  color: var(--snow);
  border-bottom: 0.125em solid var(--banana); */
  /*! background-color: var(--banana); */
/*   background-color: hsl(86, 53%, 51%);
  color: var(--snow); */
  /* background-color: hsl(39, 99%, 70%);
  background-color: hsl(18, 99%, 70%);
  color: var(--banana);
  background-color: var(--lime); */
  /* background-color: hsl(86, 79%, 69%);
  color: hsl(186, 89%, 39%); */
  /* background-color: hsl(20, 99%, 75%);
  color: var(--banana); */
  background-color: var(--text-color);
  background-color: hsl(186, 79%, 69%);
  background-color: var(--lime);
  color: var(--snow);
  background-color: var(--strawberry);
  color: var(--strawberry-brightest);
  background-color: hsl(20, 99%, 75%); /* orange */
  background-color: hsl(186, 73%, 63%); /* blue */
  background-color: hsl(192, 67%, 59%); /* blue */
  background-color: hsl(292, 27%, 39%); /* purple */
  background: transparent;
  color: inherit;
  background-color: hsl(192, 67%, 59%); /* blue */
  background-color: var(--strawberry);
  color: var(--snow);
}
.special-notice + .special-notice {
  background-color: var(--lime);
  color: var(--snow);
}
.special-notice h2 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
  max-width: none;
  /*! opacity: 0.5; */
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.5em;
  color: hsl(56, 40%, 40%);
  color: hsl(120, 1%, 40%);
  color: inherit;
  font-style: normal;
  opacity: 0.75;
}
.special-notice p {
  margin: 0 auto;
}
.special-notice a {
  color: inherit;
}
/* .special-notice a:hover,
.special-notice a:active,
.special-notice a:focus {
  color: var(--snow);
} */
/*
@media (min-width: 60em) {
  .special-notice h2 {
    display: inline;
    vertical-align: middle;
    margin-right: 1.5em;
  }
  .special-notice p {
    display: inline;
  }
}
*/

@media (min-width: 60em) {
  .special-notice {
    display: grid;
    grid-template-columns: 12em 1fr 12em;
    grid-gap: 1.5em;
  }
  .special-notice * {
    align-self: center;
    grid-row: 1;
    grid-column: 1/2;
  }
  .special-notice h2 {
    padding-left: 3em;
    align-self: center;
    text-align: left;
  }
  .special-notice p {
    grid-row: 1;
    grid-column: 2/-2;
  }
}


.special-notice svg {
  height: 3em;
  width: auto;
  color: inherit;
  vertical-align: middle;
}
.special-notice svg:first-child {
  margin-right: 0.5em;
}
.special-notice svg:last-child {
  margin-left: 0.5em;
}
.special-notice svg,
.special-notice svg path {
  fill: currentColor;
}

