
:root {
  --midnight: hsl(300, 2%, 22%);
  --strawberry: hsl(331, 81%, 61%);
  --banana:     hsl(48, 97%, 71%);
  --sky:        hsl(191, 75%, 54%);
  --lime:       hsl(77, 51%, 51%);
  --headline-color: var(--text-color);
  --link-color: var(--text-color);
  
  /* dark on light */

  --background-color: var(--banana);

  --text-color: var(--midnight);
  --text-color-invert: var(--snow);
  --image-filter: unset;
  --svg-filter: grayscale(100%) brightness(0.5);
  --lines-url: url(/uploads/programs/sunday-sessions/lines.svg);

  /* light on dark */

  --background-color: var(--sky);

  --background-color: var(--lime);

  --background-color: var(--strawberry);

  --text-color: var(--snow);
  --text-color-invert: var(--midnight);
  --image-filter: invert(100%);
  --svg-filter: brightness(10);
  --lines-url: url(/uploads/programs/sunday-sessions/lines-bright.svg);
}

/* @font-face{
  font-family:"Chicago FLF";
  src: url("/assets/fonts/chicago-flf/ChicagoFLF.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} */

main {
  font-family: cooper-black-std, "Noto Sans", 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans KR', 'Bai Jamjuree', "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.375;
}
main {
  font-size: 1.25em;
}
main > p,
main > ul,
main > ol,
main > nav:not(:first-child) {
  font-family: "Noto Sans", 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans KR', 'Bai Jamjuree', "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

dl img {
  filter: var(--image-filter);
}
footer img {
  filter: var(--image-filter);
}
h1 img[src*="svg"],
img[src*="smiley.svg"],
dl img[src*="svg"] {
  filter: var(--svg-filter);
}
.event-list img,
main figure img {
  display: block;
}

@media (min-width: 1px) {
  .event-list img,
  main figure {
    border: 0.75em solid var(--text-color);
    box-sizing: border-box;
  }
  .event-list a > div {
    background-color: var(--text-color);
    color: var(--text-color-invert);
  }
  .social-links {
    filter: grayscale(100%) sepia(50%) hue-rotate(280deg);
  }
  h1.welcome svg {
    filter: var(--svg-filter);
  }
}


.logos svg {
  color: var(--background-color);
}
.logos svg,
.logos svg * {
  fill: currentColor;
}

.special-notice {
  background: var(--snow);
  color: var(--midnight);
}

/* .event-list a div {
  color: var(--background-color);
}
.event-list a div h3 {
  opacity: 1;
} */

main h2 {
  /* font-family: "Chicago FLF", "Noto Sans", 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans KR', 'Bai Jamjuree', "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  border-width: 0.125em 0;
  border-style: solid;
  padding: 0.125em 0;
  align-self: start;
  justify-self: end;
  display: table;
}
main h2.logo {
  border-width: 0.025em 0;
  padding: 0;
}

@media (max-width: 60em) {
  main h2.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em !important;
  }
}

main hr {
  border-width: 0;
}
main main hr:first-child + h2,
main hr + h2 {
  margin-top: 0;
  display: block;
  justify-self: stretch;
  background-color: var(--text-color, black);
  color: var(--background-color, white);
  grid-column: 1/-1;
  margin-left: -0.75em;
  margin-right: -0.75em;
  text-align: center;
  max-width: none;
  border-width: 0;
  padding: 0.25em 1.5em;
  font-size: 2em;
}
main hr + h2 + dl {
  grid-column: 1/-1;
  max-width: none;
}
main hr + h2 + dl + p {
  max-width: none;
  grid-column: 1/-1;
  align-self: stretch;
  text-align: center;
}

@media (min-width: 1px) {
  body {
    background: var(--background-color);
  }
  body a {
    color: inherit !important;
  }
  body h1 {
    color: inherit !important;
  }
  body strong {
    color: inherit !important;
    font-weight: bold;
  }
}

dl {
  text-align: center;
  margin-top: -1.2em !important;
  padding-top: 3em;
  margin-bottom: 0 !imporant;
  position: relative;
}
main hr + h2 + dl {
  border-width: 0 2vmax;
  border-style: solid;
  border-color: var(--text-color);
  margin-left: -1.2em !important;
  margin-right: -1.2em !important;
  max-width: none;
  box-sizing: border-box;
  width: 100vw;
}
main hr + h2 + dl::before,
main hr + h2 + dl::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 2em;
  background-image: var(--lines-url);
  background-repeat: repeat-y;
  top: -5%;
}
main hr + h2 + dl::before {
  left: -2px;
}
main hr + h2 + dl::after {
  right: -2px;
  transform: rotate(180deg);
}
dt {
  display: inline-block;
  justify-self: center;
  padding: 0em 0.375em 0.1em;
  background: var(--text-color, black);
  color: var(--background-color, white);
  font-style: normal;
  font-size: 1.25em;
}
dt,
dd {
  text-transform: uppercase;
}
dd strong {
  font-size: 1.5em;
  display: block;
}
dd img {
  height: 5em;
  width: auto;
}

dl {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: start;
  font-size: 1.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.summer-schedule ~ dl {
  padding-bottom: 6em !important;
}

.summer-schedule ~ dl dt,
.summer-schedule ~ dl dd {
  margin: 0 !important;
}
.summer-schedule ~ dl dt {
  justify-self: center;
}

.summer-schedule ~ dl dt:nth-of-type(1) + dd + dd {
  grid-row: 1;
}
.summer-schedule ~ dl dt:nth-of-type(2) + dd + dd {
  grid-row: 4;
}
.summer-schedule ~ dl dt:nth-of-type(3) + dd + dd {
  grid-row: 7;
}
.summer-schedule ~ dl dt:nth-of-type(4) + dd + dd {
  grid-row: 10;
}
.summer-schedule ~ dl dd + dt + dd + dd {
  margin-top: 3em !important;
}
.summer-schedule ~ dl dt {
  margin-top: 0.375em !important;
}
dt + dd {
  margin-top: 0.375em !important;
}

@media (min-width: 60em) {
  .summer-schedule ~ dl {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 7.5em !important;
  }
  .summer-schedule ~ dl dt:nth-of-type(n) + dd + dd {
    grid-row: 1/2;
  }
  .summer-schedule ~ dl dt {
    grid-row: 2/3;
  }
  .summer-schedule ~ dl dt + dd {
    grid-row: 3/4;
  }
  .summer-schedule ~ dl dd + dt + dd + dd {
    margin-top: 0 !important;
  }
  .summer-schedule ~ dl dt:nth-of-type(2),
  .summer-schedule ~ dl dt:nth-of-type(2) + dd,
  .summer-schedule ~ dl dt:nth-of-type(2) + dd + dd,
  .summer-schedule ~ dl dt:nth-of-type(4),
  .summer-schedule ~ dl dt:nth-of-type(4) + dd,
  .summer-schedule ~ dl dt:nth-of-type(4) + dd + dd {
    transform: translateY(7.5rem);
  }
}

.action a {
  background: var(--text-color, black) !important;
  color: var(--background-color, white) !important;
}
main figure {
  /* border-width: 4vmax 2vmax;
  border-style: solid;
  border-color: var(--text-color); */
  /* grid-column: 1/-1;
  margin-left: -1.5em;
  margin-right: -1.5em; */
  max-width: none;
}
/* main hr + h2 + figure {
  margin-top: -1.5em;
  border-top-width: 0;
} */
.smiley img {
  position: absolute;
  width: auto;
  height: 1.5em;
}

h1 .smiley img:nth-child(1) {
  margin-top: -4vw;
  right: 4.5vw;
  font-size: 9vw;
}
h1 .smiley img:nth-child(2) {
  margin-top: 50vw;
  left: 4.5vw;
  font-size: 7vw;
  transform: rotate(45deg);
}
h1 .smiley img:nth-child(3) {
  margin-top: 60vw;
  right: 6vw;
  font-size: 5vw;
  transform: rotate(10deg);
}

div.smiley img:nth-child(1) {
margin-top: -4vw;
font-size: 7vw;
  left: 4.5vw;
  transform: rotate(45deg);
}
div.smiley img:nth-child(2) {
  margin-top: 0vw;
  font-size: 5vw;
  right: 6vw;
}
div.smiley img:nth-child(3) {
  margin-top: 20vw;
  right: 4.5vw;
  font-size: 9vw;
  transform: rotate(10deg);
}

main .logos {
  margin-top: -1.5em;
  background-color: var(--text-color);
  margin-left: -1.5em;
  margin-right: -1.5em;
}


h1.welcome {
  font-family: cooper-black-std, "Noto Sans", 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans KR', 'Bai Jamjuree', "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1.welcome em[data-message*="Dobrodošli"],
h1.welcome em[data-message*="Chào mừng bạn"] {
  font-family: "Noto Sans", 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans KR', 'Bai Jamjuree', "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 1px) {
  h1.welcome em:nth-of-type(2n+1) {
    color: inherit;
    opacity: 0.875;
  }
  h1.welcome em:nth-of-type(3n+1) {
    color: inherit;
    opacity: 0.75;
  }
}




.staff-list ~ dl {
  font-size: unset;
  text-align: left;
}
.staff-list ~ dl dt {
  margin-left: 0;
  align-self: start;
  justify-self: start;
}
.staff-list ~ dl dd {
  font-family: "Noto Sans", 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans KR', 'Bai Jamjuree', "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: unset;
}




main main {
  padding: 1.5em 1.5em 3em;
  margin-top: 3em;
  --background-color: var(--snow);
  --text-color: var(--strawberry);
  --headline-color: var(--strawberry);
  grid-column: 1/-1;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: -1.5em;
  margin-right: -1.5em;
  font-size: inherit;
}
main main > p,
main main > nav,
main main > ol,
main main > ul {
  color: var(--midnight);
}

main .logos + main {
  margin-top: -6em;
}

main + main {
  margin-top: -1.5em;
}

main main hr:first-child {
  padding: 0;
  margin: 0;
  position: absolute;
}
main main hr:first-child + h2 {
  grid-row: 1/2;
  margin-top: -2.25em;
}

/* hr + h2 + main {
  margin-top: -1.5em;
}

main + hr {
  margin-top: -1.5em;
} */

main main.strawberry {
  --background-color: var(--strawberry);
  --text-color: var(--snow);
  --text-color-invert: var(--midnight);
  --headline-color: var(--snow);
}
main main.lime {
  --background-color: var(--lime);
  --text-color: var(--snow);
  --text-color-invert: var(--midnight);
  --headline-color: var(--snow);
}
main main.sky {
  --background-color: var(--sky);
  --text-color: var(--snow);
  --text-color-invert: var(--midnight);
  --headline-color: var(--snow);
}
main main.strawberry > p,
main main.strawberry > nav,
main main.lime > p,
main main.lime > nav,
main main.sky > p,
main main.sky > nav {
  color: var(--snow);
}

main main.banana {
  --background-color: var(--banana);
  --text-color: var(--midnight);
  --text-color-invert: var(--snow);
  --headline-color: var(--midnight);
}
main main.banana > p,
main main.banana > nav {
  color: var(--midnight);
}

/* footer {
  background-color: var(--snow);
  color: var(--midnight);
} */
/* footer .social-links {
  --image-filter: unset;
  --svg-filter: unset;
} */
main + footer {
  margin-top: -6em;
}
