


/* =Type
----------------------------------------------- */
body {
  font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 1.5em 1.5em 4.5em;
}

/* OPTIONAL: Increase the font size on big screens. */
@media screen and (min-width: 600px) and (min-height: 600px) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 800px) and (min-height: 800px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 1000px) and (min-height: 1000px) {
  html {
    font-size: 137.5%;
  }
}
@media screen and (min-width: 1200px) and (min-height: 1200px) {
  html {
    font-size: 150%;
  }
}

/* Limit line lengths, for readability. */
/* h1, h2, h3, h4, p, ol, ul, dl, figure {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.725em;
  margin-bottom: 0.725em;
} */


/* =Links
----------------------------------------------- */
a img {
  border-width: 0; /* For Explorer */
}



/* =Images
----------------------------------------------- */
img {
  display: block;
  max-width: 100%;
  height: auto;
}


