

  /* =Type
  ----------------------------------------------- */
  body {
    line-height: 1.5; 
    font-family: "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1.5em;
    font-size: 100%;
    font-size: calc(0.75em + 1vmin);
  }

  @media (min-width: 40em) { /* @medium-size-screen */
    body {
      padding: 1.5em 4.5em;
    }
  }

  /* Limit line lengths, for readability. */
  h1, h2, h3, h4, h5, h6, p, ol, ul, dl {
    max-width: 45em; /* @max-line-length */
  }

  main > p + h2 {
    margin-top: 4.5em;
  }
