<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/fonts.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/type.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/color.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/header.css?v={{ site.version }}" />

  <!-- Jim’s fonts.com account -->
  <link rel="stylesheet" href="https://fast.fonts.net/t/1.css?apiType=css&amp;projectid=68f50139-da27-4c8c-adaa-c005a8fd2b7a" />
  
  {% comment %}Hide staging websites from search engines{% endcomment %}
  {% if site.hide_from_search_engines %}
  <script>
    window.addEventListener("DOMContentLoaded", function() {
      var notice = document.createElement("p")
      notice.style.marginTop = "12em"
      notice.style.gridColumn = "1/-1"
      // notice.style.textAlign = "center"
      // notice.style.justifySelf = "center"
      notice.role = "status"
      notice.innerHTML = "<mark>This website is a design preview and may not have accurate information.<br />Please visit the official <a href='https://grandparkla.org/'>Grand Park LA website</a>.</mark>"
      document.querySelector("body > footer").appendChild(notice)
    })
  </script>
  <meta name="robots" content="noindex">
  <script>
    window.addEventListener("DOMContentLoaded", function() {
      if (document.querySelector("meta[content='noindex']"))
      var notice = document.createElement("p")
      notice.style.marginBottom = "12em"
      notice.style.gridColumn = "1/-1"
      // notice.style.textAlign = "center"
      // notice.style.justifySelf = "center"
      notice.role = "status"
      notice.innerHTML = "<mark><em>This page contains a noindex meta element and won’t be indexed by search engines.</em></mark>"
      document.querySelector("body > footer").appendChild(notice)
    })
  </script>
  {% endif %}

</head>
<body>

<header>
  <h2>
    <a href="/">
      <svg aria-label="Grand Park" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 157.1 35.9" width="158" height="36">
        <title>Grand Park</title>
        <g>
        	<path class="st0" d="M13.5,11.3V5.8c0-2.8-0.4-5.6-4.9-5.8v0H4.9v0C0.4,0.2,0,3,0,5.8v23.7c0,4.7,1.2,6.1,4.9,6.2v0l3.6,0v0
        		c3.7,0,4.9-1.5,4.9-6.2V16.7H8.8H6.4v4.3h2.4v8.2c0,1.2-0.1,2-1.5,2H6.2c-1.3,0-1.5-0.8-1.5-2V6.8c0-1.4,0-2.5,1.9-2.5h0.3
        		c1.8,0,1.9,1.1,1.9,2.5v4.4H13.5z"/>
        	<path class="st0" d="M136.3,28.6v-3.9c0-4.6-0.4-6.6-3.5-7c-0.1,0-0.1-0.2,0-0.2c3.5-0.1,3.7-2.7,3.7-8.8c0-7.1-0.6-8.6-6.3-8.6
        		h-7.6v35.7l4.7,0v-0.1h-0.1V4.3h0.1l2.4,0c2,0,2.2,0.1,2.2,4c0,5.9-0.1,7-2.4,7h-0.3v3.9c1.3,0,1.4,0.1,1.9,1.1
        		c0.5,1.2,0.6,4,0.6,5.4v5c0,6,5.6,5,5.6,5C136.4,33.6,136.3,32.9,136.3,28.6"/>
        	<path class="st0" d="M30.1,28.6v-3.9c0-4.6-0.4-6.6-3.5-7c-0.1,0-0.1-0.2,0-0.2c3.5-0.1,3.7-2.7,3.7-8.8c0-7.1-0.6-8.6-6.3-8.6
        		l-7.6,0v35.7l4.7,0v-0.1H21V4.3h0.1l2.4,0c2,0,2.2,0.1,2.2,4c0,5.9-0.1,7-2.4,7h-0.3v3.9c1.3,0,1.4,0.1,1.9,1.1
        		c0.5,1.2,0.6,4,0.6,5.4v5c0,6,5.6,5,5.6,5C30.2,33.6,30.1,32.9,30.1,28.6"/>
        	<path class="st0" d="M78,0h-8.5v35.7l4.6,0V4.3l2.8,0c1.8,0,1.9,1.1,1.9,2.5v22.5c0,1.2-0.1,2-1.5,2H76v4.4h2.3c3.8,0,5-1.5,5-6.2
        		V5.8C83.3,2.9,82.9,0,78,0"/>
        </g>
        <polygon class="st0" points="43.7,0 38.1,0 32.7,35.7 37.2,35.7 38.1,29.9 40.9,29.9 40.9,25.4 38.7,25.4 40.9,10.3 44.6,35.7 
        	49.2,35.7 "/>
        <polygon class="st0" points="109.8,0 104.4,35.7 108.9,35.7 109.8,29.9 112.6,29.9 112.6,25.4 110.4,25.4 112.6,10.3 116.3,35.7 
        	120.9,35.7 115.4,0 "/>
        <g>
        	<path class="st0" d="M61.5,0L61.5,0L61.5,0l0,23.5c0-0.2-5.4-23.5-5.4-23.5l-5,0v35.7h3.6v0l1,0V12.5c1.4,6.3,5,23.2,5,23.2l5.1,0
        		V0H61.5z"/>
        	<path class="st0" d="M100.4,10.3c0,3.9-0.3,5-2.3,5h-0.6v4l1.1,0c5.5,0,6.4-2.2,6.4-8.6v-2c0-7.1-0.7-8.6-6.3-8.6h-7.6v35.7h4.7
        		v-0.1l-0.1,0V4.4h0.1h2.4c2,0,2.2,0.1,2.2,4V10.3z"/>
        </g>
        <rect x="139.8" y="0.1" class="st0" width="4.5" height="35.7"/>
        <polygon class="st0" points="151.5,0.2 145.2,17.6 151.8,35.9 157.1,35.9 149.8,17 156.5,0.2 "/>
      </svg>
    </a>
  </h2>
  <p>The Park for Everyone</p>
  <nav>
    <h3><a href="/events/">Events</a></h3>
    <ul>
      <li><a href="/getting-here/">Getting Here</a></li>
    </ul>
    <h3><a href="/blog/">News</a></h3>
    <ul>
      <li><a href="/for-media/">Press</a></li>
      <li><a href="https://www.musiccenter.org/visit/news-bureau/gp-press-gallery/">Photos</a></li>
      <li><a href="/video/">Video</a></li>
      <li><a href="/sign-up/">Sign Up</a></li>
    </ul>
    <h3><a href="/about/">About</a></h3>
    <ul>
      <li><a href="/faqs/">FAQs</a></li>
      <li><a href="/contact/">Rental Info</a></li>
      <li><a href="/staff/">Staff</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/donate/">Donate</a></li>
    </ul>
  </nav>
</header>

<main class="standard-layout">
  {{ content }}
</main>

<footer>

<p><strong>Grand Park is an Los Angeles County park powered by <a href="http://www.musiccenter.org/">The Music Center</a>.</strong></p>

</footer>

</body>
</html>
